# Read the Docs doesn't support Pipfiles yet, and uses requirements.txt instead.
# If changing this file, run `make bs` to generate a corresponding requirements.txt file.

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cairosvg = "==2.7.1"
importlib_metadata = "==6.6.0"
mkdocs = "==1.6.1"
mkdocs-awesome-nav = "==3.2.0"
mkdocs-llmstxt = "=0.2.0"
mkdocs-macros-plugin =  "==1.4.0"
mkdocs-material = "==9.7.3"
mkdocs-redirects = "==1.2.2"
mkdocs-rss-plugin = "==1.17.9"
mkdocs-simple-hooks = "==0.1.5"
mkdocs-site-urls = "==0.3.1"
pillow = "==12.1.1"
urllib3 = "==2.6.0"

[dev-packages]

[requires]
python_version = "3.12"
