# Read the Docs doesn't support Pipfiles yet, and uses requirements.txt instead.
# If changing this file, run `make bs` to generate a corresponding requirements.txt file.

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cairosvg = "*"
importlib_metadata = "*"
mkdocs = "*"
mkdocs-material = "*"
mkdocs-awesome-pages-plugin = "*"
mkdocs-macros-plugin = "*"
mkdocs-redirects = "*"
mkdocs-simple-hooks = "*"
pillow = "==9.3.0"

[dev-packages]

[requires]
python_version = "3"
