# Read the Docs doesn't support Pipfiles yet, and uses requirements.txt instead.
# If changing this file, run `make bs` to generate a corresponding requirements.txt file.

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cairosvg = "==2.7.1"
importlib_metadata = "==6.6.0"
mkdocs = "==1.4.3"
mkdocs-material = "==9.1.15"
mkdocs-material-extensions = "==1.1.1"
mkdocs-awesome-pages-plugin = "==2.9.2"
mkdocs-macros-plugin =  "==1.0.4"
mkdocs-redirects = "==1.2.1"
mkdocs-simple-hooks = "==0.1.5"
pillow = "==10.1.0"
urllib3 = "==2.0.7"

[dev-packages]

[requires]
python_version = "3"
