.screenshot {
  border-radius: 8px;
  box-shadow: 0 0 24px rgba(0, 0, 0, var(--opacity-shadow-normal, 0.15));
}

li.yes,
li.no {
  padding-left: 0.5rem;
}

li.yes {
  list-style-type: '✅';
}

li.no {
  list-style-type: '❌';
}

div.yes pre code {
  background-color: #f1f9f1;
}

div.no pre code {
  background-color: #f9f1f1;
}

.landing-row {
  display: flex;
  gap: 5em;
}

.landing-row-reverse {
  flex-direction: row-reverse;
}

@media (max-width: 800px) {
  .landing-row {
    flex-direction: column-reverse;
    gap: 0;
  }
}

.landing-item {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tutorial-row {
  display: grid;
}

@media (min-width: 1000px) {
  .tutorial-row {
    gap: 2em;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.tutorial-row > * {
  overflow: auto;
}

.tutorial-row img.screenshot {
  box-shadow: none;
  border: 1px solid var(--md-default-fg-color--lightest);
}

.box-row {
  display: grid;
  gap: 1em;
}

@media (min-width: 800px) {
  .box-row {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.box-item {
  border: 0.05rem solid var(--md-default-fg-color--lightest);
  padding: 0 2em;
  display: flex;
  flex-direction: column;
}

.box-item p:first-of-type {
  flex: 1;
}

/* Hide the anchor link for headings in boxes. */
.box-item .headerlink {
  display: none;
}

/* Early Access Admonition */

:root {
  --md-admonition-icon--early-access: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><path d="M6 0a6 6 0 1 1 0 12A6 6 0 0 1 6 0m3 5H3v2h6Z"/></svg>');
}
.md-typeset .admonition.early-access,
.md-typeset details.early-access {
  border-color: rgb(255, 204, 77);
}
.md-typeset .early-access > .admonition-title,
.md-typeset .early-access > summary {
  background-color: rgb(255, 204, 77, 0.1);
}
.md-typeset .early-access > .admonition-title::before,
.md-typeset .early-access > summary::before {
  background-color: rgb(255, 204, 77);
  -webkit-mask-image: var(--md-admonition-icon--early-access);
  mask-image: var(--md-admonition-icon--early-access);
}
