/* Create a custom Coda color scheme. */
[data-md-color-scheme="coda"] {
  --md-primary-fg-color: #006838; /* Emerald */
  --md-accent-fg-color: #EE5A29; /* Tomato Soup */
  --md-code-hl-color: #FFE6C9; /* Peach */
}

/* Don't use link colors in the announcement banner, for readability. */
.md-announce a {
  color: inherit;
  text-decoration: underline;
}

/* Size in-line image to be the same size as the text. */
img.inline-icon {
  height: 1em;
}

img.screenshot {
  border-radius: 8px;
  box-shadow: 0 0 24px rgba(0,0,0,var(--opacity-shadow-normal,.15));
}

li.yes, li.no {
  padding-left: 0.5rem;
}

li.yes {
  list-style-type: "✅";
}

li.no {
  list-style-type: "❌";
}
